################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASPNET/FileContentIndex/1230cba0-e380-4ba3-b83c-9e562b035c2f.vsidx
/.vs/ASPNET/FileContentIndex
