@model IEnumerable<ASPNET_EF.Models.Dictionaries>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
	<div class="card mx-auto mt-4" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">@item.DictionaryName</h5>
			<p class="card-text">
				Słownik na poziomie: @item.DictionaryLevel <br />Zawiera: @item.Words.Count  wyrazów.
			</p>
			<p class="card-text">

			</p>


			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
}